/* http://www.colourlovers.com/palette/74074/Primavera */
/*CC5D4C*/
/*FFFEC6*/
/*C7D1AF*/
/*96B49C*/
/*5B5847*/

html, body{ min-height: 100%; }
body{ background: url(../images/frenchstucco.png); }

a{ color: #CC5D4C; }
h6{ color: #96B49C; }
h6 small{ font-variant: normal; }

.topbar .fill{ background: #5B5847; }

.page-header{ overflow: hidden; /*background-color: #96B49C;*/ }
  .page-header{
    text-indent: -999em; width: 820px; height: 94px; float: left;
    background: url(../images/header.png) no-repeat center center;
  }
  .page-header h2{ float: left; line-height: 85px; font-size: 2.1em; padding-left: 24px; /*color: #5B5847;*/ }
    /*.page-header h2 small{ color: #5B5847; }*/

/*.content{ background: url(../images/frenchstucco.png); }*/

#quotes{ overflow: visible; height: 3em; }

.fb-like-box{ background-color: #fff; margin-left: 40px; }

#mc_embed_signup{ background: #fff; clear: left; font: 14px Helvetica,Arial,sans-serif; }
  #mc_embed_signup label{ float: none; text-align: left; width: 100%; }

dl.musicians{ overflow: hidden; }
  dl.musicians dt{ font-weight: bold; float: left; clear: both; width: 9em; }
  dl.musicians dd{ float: left; }


#skitnikhouette{ margin-top: 40px; }
