<div id="quotes">
  <blockquote>
    <p>There isn't any music that can be better than this!</p>
    <small><cite>Django</cite>, 4 1/2 years old, Port Townsend, WA</small>
  </blockquote>

  <blockquote>
    <p>
      My four year old son is still talking about you guys. What more can you
      say about a band to say how exceptional they are.. Kids dancing, the
      whole room clapping. We'll be coming to see you guys again soon!
    </p>
    <small><cite>Travis Rambo</cite>, Glacier, WA</small>
  </blockquote>

  <blockquote>
    <p>That made me want to throw a party!</p>
    <small><cite>Laura B.</cite>, Seattle, WA</small>
  </blockquote>

  <blockquote>
    <p>I didn't know that kind of music could be so much fun!</p>
    <small><cite>Charlie</cite> on Lopez Island</small>
  </blockquote>

  <blockquote>
    <p>Skitnik tunes bouncing around in my head for days, and loving it! You guys rock!</p>
    <small><cite>Michelle Bates</cite>, Seattle, WA</small>
  </blockquote>

  <blockquote>
    <p>We came for the bike race, but you guys stole the show!</p>
    <small><cite>Charlie</cite> on Lopez Island</small>
  </blockquote>

</div>

