<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap_stuff.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">


    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <meta name="google-site-verification" content="sdxxx-zmcQ3VlKk4MZwwzuV6zX3NgT4C_nJGY7UoqFI" />

    <link rel="shortcut icon" href="favicon.ico">

  </head>

  <body>
    {% include facebook.html %}

    <div class="container">


      <div class="content">
        <div class="page-header">
          <h1>Skitnik</h1>
          <h2>Eclectic <small>Balkan-Inspired</small> Music</h2>
        </div>


      </div>

      <ul class="tabs">
        <li{% if page.url == "/index.html" %} class="active"{% endif %}>
          <a href="/">Home</a>
        </li>

        <li{% if page.url == "/about.html" %} class="active"{% endif %}>
          <a href="about.html">About</a>
        </li>

        <li{% if page.url == "/music.html" %} class="active"{% endif %}>
          <a href="music.html">Music</a>
        </li>

        <li{% if page.url == "/video.html" %} class="active"{% endif %}>
          <a href="video.html">Video</a>
        </li>

        <li{% if page.url == "/photos.html" %} class="active"{% endif %}>
          <a href="photos.html">Photos</a>
        </li>

        <li{% if page.url == "/connect.html" %} class="active"{% endif %}>
          <a href="connect.html">Connect</a>
        </li>
      </ul>

      <div class="content">


        <div class="row">
          {{ content }}
        </div>
      </div>

      <footer>
        <!--        <p>&copy; Company 2011</p> -->
      </footer>

    </div>



    <script src="/js/libs/jquery-1.6.2.min.js"></script>
    <script src="/js/libs/jquery.cycle.lite.js"></script>
    <script src="/js/app.js"></script>
    {% include analytics.html %}
  </body>
</html>
